<div class="main-content">
    <div class="main-cosmeticos">
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>1</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>Sombra</p>
                    </div>
                </div>

                <div class="div-legendas">
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                    <div class="legenda">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
