<div class="main-content">
    <div class="main-cosmeticos">
        <div class="card-cosmetico" style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1rem;">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div style=" width: 95%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: row; justify-content: center; gap: 1rem; background-color: red;">
                    <div>
                        <label>Id:</label>
                        <p>1</p>
                    </div>
                    <div>
                        <label>Nome:</label>
                        <p>Sombra Liquida</p>
                    </div>
                    <div>
                        <label>Validade:</label>
                        <p>10/11/2025</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
