<div class="main-content">
    <div class="main-cosmeticos" #main>
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-cosmetico">
            <img src="../../../assets/img/download (2).jpg" style="height: 230px;">
            <div class="main-legend">
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Id:</label>
                        <p>3</p>
                    </div>
                    <div class="legenda">
                        <label>Nome:</label>
                        <p>{{dados. nome}}</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda">
                        <label>Cor:</label>
                        <p>Rosa</p>
                    </div>
                    <div class="legenda">
                        <label>Validade:</label>
                        <p>09/2024</p>
                    </div>
                </div>
                <div class="div-legendas">
                    <div class="legenda-descricao">
                        <label>Descrição:</label>
                        <p>Sombra liquida Rosa com cobertura suave</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
